部の計測器予約表

【前提条件】
・SharePointリストで備品マスタを作る
　　備品マスタは、備品名称、管理No、備考、管理者名、写真の項目を作る
・SharePointリストで予約表を作る
　　予約表は、備品名称、貸出日、返却予定日、使用者、備考、ステータス、承認状況の項目を作る
　　ステータスは、「予約中」「返却済」のみ
　　承認状況は、SharePointの承認機能を使う（「承認待ち」「承認済」「却下」）
・予約時と返却時に備品管理者に承認をもらう必要あり（Teams投稿）
　　管理者不在でも対応できるように、予約表管理者数名が手動でも承認できるようにする
・期限切れの連絡を出したい（Teams投稿）

【予約の流れ】
・部のSPOかTeamsからアクセスする
・備品リスト一覧が表示してある（縦スクロール）
・ステータスが「予約中」のアイテムリスト（カレンダー？）が表示してある（過去のものは表示しない）
・予約ボタンを押す
・予約したい備品をプルダウンで選択する
・期間選択（スタートはデフォルトで本日、エンドはカレンダーで選択）
・予約がバッティングしていないなら予約実行ボタンがアクティブになる（これは無くても良いかも）
・予約実行ボタンを押す
・予約表に「未承認」でリストが追加される
・PowerAutomateで備品管理者に承認依頼の投稿が飛ぶ
・承認者が承認すると「承認済」になる
・予約表でステータスが「予約中」になる

【返却の流れ】
・部のSPOかTeamsからアクセスする
・予約アイテムをクリックして返却ボタンを押す
・実行ボタンを押す
・予約表に「未承認」でリストが更新される
・PowerAutomateで備品管理者に承認依頼の投稿が飛ぶ
・承認者が承認すると「承認済」になる
・予約表でステータスが「返却済」になる

【期間延長の流れ】
・部のSPOかTeamsからアクセスする
・予約アイテムをクリックして編集する
・実行ボタンを押す
・予約表に「未承認」でリストが更新される
・PowerAutomateで備品管理者に承認依頼の投稿が飛ぶ
・承認者が承認すると「承認済」になる
・予約表でステータスが「予約中」になる

【期限切れの確認】
・毎朝９時にPowerAutomateがスケジュール実行される
・期限の１日前になったら予約者に連絡する（Teams投稿）
・期限が切れたら予約者に連絡する（Teams投稿）