第二技開の上原です。市場データ活用説明会の第二回目になります。
第一回目の説明会を聞いてもらった方がほとんどだと思いますが、聞いておられない方は、録画したものを公開しているので、そちらを後で見ていただきたいです。
また、本日の打ち合わせも録画しておりますので、ご了承下さい。
第一回目の打ち合わせで、これから約3ヶ月間、我々と一緒に、市場データを見て、そこから次期製品開発の課題を抽出するという、取り組みを一緒に進めていただきたいという、話を行いました。

本日は、ポータルサイトに公開しているグラフの説明を行います。
また、課題の一つ目である、「気づき」の抽出を、この説明を聞きながら、早速スタートして頂きたいと思っています。
なので、念の為、前回のおさらいを簡単に行います。

AutoSendデータを
■搬送エラー
まず、このページの構成を説明します。
最初に「データを集計する際の前提条件」を記載しています。
そして「全体的な傾向を示すグラフ」「耐久依存性を示すグラフ」「年月推移のグラフ」「計算に使用したサンプル台数のグラフ」があります。
それでは、前提条件から説明していきます。
搬送エラーとしては、JAMとミスプリを両方含めています。
また、エラーのカウントに関しては、同じページカウントのものは一回とカウントしています。
これは、ユーザーがすぐにJAM処理できない場合など、同じページカウントで繰り返しエラーが発生する場合があるため、それらは１回として扱うためです。
同様な目的で、機内残留 JAMはユーザー操作起因のトラブルであるため、集計から除外しています。
今回除外したものに関しても、要望があれば、見たい目的に合わせて別のグラフにすることもできると思うので、コメントに記載をお願いします。

それでは、全体傾向を示すグラフの説明をします。
全体傾向を示すグラフとして３つのグラフがあるので、一つ目の「搬送品質が良い個体の割合」から説明をします。
これは、搬送品質の良し悪しを、評価するための指標として算出してものになります。
1/10000とか1/5000といった各搬送エラー率を満足する個体の割合を示しています。
バーの長さが長いほど品質が良いことを示しています。
例えば、P573は品質規格の1/10000を満足する個体が、30%いるものの、P1400は10％しかいないというように、搬送品質の差が分かります。
３つの色は、レベルの違いとして、1/10000、1/5000、1/2000を色分けしています。
計算条件としては、トレイごとの累積のエラー回数を最終到達カウントで割ることでJAM率を算出しています。
また、JAM率を計算する時には、分母や分子の値に異常に大きい数字や小さい数字があると、異常値になってしまいます。
そこで、集計対象から除外する条件というものを設定しています。
ここは我々データ分析を行なっていると、常に悩むポイントになっており、暫定的に5000枚以下のデータは使わないとしています。

これは「搬送エラー率の要因内訳」です。
要因ごとのJAM率を示しており、どの要因のエラーが多いかが分かります。
計算方法としては、個体ごとに要因別で JAM率を計算して、全体で中央値を算出しています。
こちらは先程の個体割合とは違い、個体ごと、トレイごとのJAM率を表しているので、バーの長さが短いほど、品質が良いことを示しています。
計算方法が異なるので、製品ごとの良し悪しの順序などは、多少異なる部分もあるので、注意して結果を見て頂きたいです。

次は「総通紙枚数ベースの要因内訳」です。
これも要因内訳を示すグラフですが、JAM率の中央値算出という複雑な計算をせず、機種ごとの総通紙枚数に対するJAM要因の内訳なので、
計算条件が非常にシンプルなものになります。
全体を100%とした割合のみになります。

「品質規格を満足する個体の割合」「JAM率の中央値」「総通紙枚数ベースの要因内訳」という３つがあります。
こうした色々な表現方法をしているのは、どういう見方で見るかによって得られることも違うと考えており、あえて色々載せています。
どのような計算条件で表現することが、市場の実態を表現できるのか、皆さんからも様々な意見を頂きたいと考えています。

続いて耐久推移を示すグラフの説明をします。
これは「品質規格を満足する個体の割合」と近い計算方法で、1/2000より悪い個体の推移を示しています。
このグラフにより、搬送品質のロバスト性が確認できると考えています。
1/2000という値自体には特に意味はなく、Tableau上ではパラメータ化しているため、いじることができます。
横軸は、エンジンのトータルページカウントを示しており、50K区間刻みごとに個体割合を計算しています。
グラフの見方としては、グラフが水平に近いほどロバスト性が高いことを示しています。
例えば、P573とかP1750はロバスト性が高いですが、P1270系やP1400系などのロバスト性が低いことが分かります。

続いて、年月推移を示すグラフの説明をします。
これは、「搬送品質が良い個体の割合」グラフを横軸を年月にしたグラフです。
このグラフにより、年月とともにどう変化していくかが分かり、例えば設変などの対策部品投入により、品質が変化しているかなどが分かります。
横軸は月毎に算出することは可能であるものの、月毎だとサンプルデータが少なくデータのバラツキが多くなるため、四半期ごとで算出しています。
こちらに関しては、AutoSendデータの性質上、月毎の通紙枚数が取得できている月と取得できていない月などあるため、この結果の信頼性を向上させる
分析上の工夫が必要かもしれないので、結果も注意しながら見て頂きたいと考えています。


■故障エラー
まず、このページの構成を説明します。
最初に「データを集計する際の前提条件」を記載しています。
そして「全体的な傾向を示すグラフ」「耐久依存性を示すグラフ」「年月推移のグラフ」があります。
それでは、前提条件から説明していきます。
ユニット故障関連のエラーを集計しています。
エラーコードとしては、ここに記載のものを対象としておりますが、ワーニング等のユニット故障では無さそうなこれらのエラーは集計から除外しています。
例えば、キャリブレーション失敗などは、発生頻度が非常に高いので、その他のエラーと一緒のグラフにすると、その他のエラーの割合が小さくなるので読取づらくなるので、除外しています。
ただし、今回除外したものに関しても、要望があれば、見たい目的に合わせて別のグラフにすることもできると思うので、コメントに記載をお願いします。
また、エラーのカウントに関しては、同じページカウントのものは一回とカウントしています。
これは、ユーザーがすぐにクリアできない場合など、同じページカウントで繰り返しエラーが発生する場合があるため、それらは１回として扱うためです。

ここから、全体傾向を示すグラフの説明をします。
ここでは故障遭遇率というものを算出して、製品ごとの一覧表示しています。
これは、各エラーに１年間で一回以上経験する個体が、全体に対する割合を示したものです。
バーの長さが短いほど、品質が良いことを示しています。
ユーザーやディーラーに与える影響度合いが把握できるのではないかと考えて、算出したグラフになります。
エラーとしては、ここに示すように、リフタ故障、、などがあります。
例えば、P1400では40%の個体が少なくとも年間１回以上リフタ故障を経験しており、多くの個体で発生している現象だと分かります。
また、P600は定着温調エラーが多く、P1801のみピック離間機構異常が多いということなどが読み取れます。
故障エラーの場合、JAMとは違い、本当に故障だった場合、一回経験するだけで、ユーザーに与える影響が大きいと考え、
JAM率のような通紙枚数で発生回数を割るという計算ではなく、年間の遭遇率というものを指標にしています。

続いて、故障遭遇率の耐久推移になります。
初期的な問題なのか？耐久で悪化していく問題なのか？といったロバスト性が把握できます。
これは横軸をページカウントとしており、50K区間刻みで遭遇率を計算しています。
このグラフは各製品ごとに可視化しており、フィルターで製品を切り替えることができます。
例えば、この製品はこのエラーが耐久で発生する個体割合が多くなっているため、耐久依存性がある問題ではないかと予想できます。

続いて、故障遭遇率の年月推移になります。
設変した場合や、何かしらの継時的な変化があるかを把握できます。
四半期ごとに１回以上故障エラーを経験した個体の割合を示しています。
月毎に算出すると、結果のバラツキが大きかったため、四半期ごとに算出しました。
例えば、、、、


■LLCの寿命
ここでは、定着器、ITB、CRGといった消耗品の寿命に関してまとめています。
寿命関連のログ情報としては、Low報知、Out報知、ユニット交換があります。
ページの構成としては、「ユニット交換の発生状況」「寿命報知のタイミング」「寿命報知から交換までの間隔」があります。
まず「ユニット交換の発生状況」について説明します。
これは、寿命交換と故障交換を合わせて、各LLCの交換カウントの分布傾向を把握できます。
横軸はページカウントの度数分布のグラフです。定着器、ITB、CRGを示しています。製品がフィルターとしてあり、このグラフはP1801の結果を示しています。
故障の少ないユニットであれば、公称寿命近傍にピークが表われるはずです。
このグラフでは、ITBは交渉寿命あたりにピークが現れていますが、定着器はもっと早いタイミングで交換されてしまっていることが分かります。
色は、Low報知前の交換か、Low報知後の交換かを示しています。
つまり、紫は寿命到達前に、故障等の何かしらの要因により交換されたものを示しています。
もしくは寿命報知ログが取得できていないというデータ欠損などの要因も含まれている可能性もあるため、実際より悪く見えている可能性があります。

このグラフは、「Low報知前に交換された割合」を示すグラフであり、紫と青の比率を示しています。
バーの長さが短いほと、品質が良いことを示しています。
フィルターでユニットを変えることができます。

続いて、「寿命報知タイミング」として、Low、Out、交換のカウント分布を示しています。
交換カウントは、先程のものと同じグラフになります。
寿命報知は、顧客の使い方により、寿命報知されるタイミングは異なってきます。
そのタイミングが想定通りになっているかを確認することができます。
横軸のページカウントは、総回転距離を揃えるための用紙長さ補正などは行なっていない、単純なページカウントのままです。

これは、「寿命報知から交換までの印刷枚数と日数」を示すグラフです。
まずは「LowからOut報知までの印刷枚数」です。左側のグラフです。
Low報知してから何枚印刷したタイミングでOut報知をしているかの度数分布です。
８割くらいの個体が●枚以内に報知されていることが分かります。
これにより、寿命報知のタイミングが想定通りであるかを確認することができると思います。

また、右側のグラフは「Out報知から交換までの印刷枚数」を示すグラフです。
Out報知してから交換されるまでに何枚印刷したかかの度数分布です。
８割くらいの個体が●枚程度までオーバーライドして使っていることが分かります。

同じものを、今度は印刷枚数ではなく、日数ベースで見たグラフになります。
日数で見ることで、Low報知してからOut報知するまでに、交換ユニットの手配に必要な猶予日数が確保されているかなどが把握できます。


usage





