コーチング
どんなことを相談したいですか？
　今年から始めたインフラグループの業務に対するスキルアップをどうやって進めたら良いか悩んでいます。
具体的にどんなスキルが必要だと感じているのですか？
　まずは今年から始めたPythonのスキルアップがしたいです。
現状のスキルでは足りないと感じているのですか？
　はい、最低限のことはネットで調べて進められるようにはなったものの、時間がかかり過ぎると感じています。
来年の業務内容は、もう何か決まっているのですか？
　はい、面談で、今年以上にインフラ関係の業務を進めてほしいと言われました。
　なので、漠然と、いろんなスキルが必要になるだろうと考えています。
　しかし、一体何をスキルアップすればいいのかすら分からない状態です。
なるほど、今の状況をもう少し教えてほしいのですが、今年のインフラグループの業務はいつくらいから始めたのですか？
　7月くらいからです。
そこからPythonを勉強し始めたんですか？
　はい、e-learningを受けろと言われて、よく分からずに受講しました。
　目的もよく分からず受講したので、あまり学ぶことはできませんでした。
　少ししてから、実際に業務としてPythonを触り始めてから、ようやく意味が少しづつ分かってきました。
やはり、実務で使わないと覚えられないですよね？
けど、短期間でよくできるようになりましたね！元々プログラミングとか好きだったんですか？
　はい、ネットで調べれば、最低限のことはできるようになったと思います
　前の業務でVBAは使っていたので、そこそこプログラミングは経験していました。
今年のインフラ関係の業務は面白かったですか？
　はい、これまでやってきた業務と大きく違い、難しかったけど、面白かったです
　ただし、少し物足りなさも感じています。
　これまでは、自分で創意工夫をして進め方も決められましたが、今年はある程度形ができているものを仕上げるだけだったからです。
　ですが、自分のスキル不足なので、それ以上のことは求められてもできなかったと思うので、納得はしています。
もう少し、考える部分もやりたいということですね？
何をすべきか考えるのと、どのようにすべきかを考えるのは、はどちらをやっていきたいと思いますか？
　これまでは、基本的に課題はすでにあり、自分自身でどのようにやるかを決めることが多かったです。
　何を？を考える必要性はあると思いますが、正直、そこは腰が引けてしまうので、まずはどのように？を考えたいです。
なるほど、本当は将来的に何をやるべきか考えることもやっていきたいと思っているものの、まずは直近のどのように？の部分を考えたいということですか？
　はい、まずはそこを考えていきたいです
どのくらいの期間をかけてスキルアップしていきたいか、イメージはありますか？
　半年か？一年くらいでしょうか？
じゃあ、とりあえず一年後くらいにしましょうか？
　はい。
一年後に、具体的にどんな風になっていたいでしょうか？
　現状のインフラグループの業務、もしくは技術系資料作成の自動化に関して、、
　効率的に進められるようになっていたい、、ですかね。
具体的にどんなスキルが必要か、洗い出されていますか？
　最初はPythonが必要と言いましたが、Pythonより他の技術が必要かもしれませんね。。
　いくつか候補がありますが、絞り切れていません。
どうやったら、そういった技術に関するスキルアップができると思いますか？
　独学で勉強すること以外に思いつきません。
e-learning等の学習サイト等は何かやったことはありますか？
　この前、やったPythonのe-learningは学べた感じがしないです。
　ビジネススキル関係のものも受けたことがありますが、ほぼやったことは無いです。
　e-learningで学べるのか、半信半疑です。
なるほど、じゃあ、他に学べる方法は何か考えられますか？
　例えばPowerAutomateとかだったら、〇〇さんに教えてもらうこともできると思います。
　実際に、e-learningでよかったものってありますか？
私個人の経験としては、労組のudemyが非常によかったです。
　へえ、そうなんですか？
　上原さんが良いというんだったら、興味が湧いてきました！
udemy等の勉強方法に興味を持ってもらえてよかったです。
ただ、具体的になんのスキルを上げるべきかは決まってませんよね？
どうやって必要なスキルを決めれると思いますか？
　まずは来年、具体的にどんな業務をするかが決まっていないので、そこを早く決める必要があります。
それはどうやったら決まりそうですか？
　グループで相談して決めれば、概ね決まると思います。
ならば、グループで相談して、具体的な業務を決めて、その業務に必要なスキルを洗い出してみると良いでしょうか？
　はい、できるだけ早く、来年の業務を決めたいと思います。
わかりました。ぜひ、そうしてみてください。スキルを洗い出したら、udemyであれば、私に聞いてもらえれば、おすすめを教えられるかも知れません。
　ありがとうございます。また相談させてください。




来年のPython教育プランの件です。

来年は、僕は先生から外れたいと思っています。
手間だとか、教えるのが嫌とかそんな気持ちは全くありません。
この活動はすでにルーチンワーク化しているので、先生を交代していくべきだと考えているからです。

実は最近、卒業生から「Pythonは相当慣れないと通暁業務では使えないね」「GUI操作でできるものってないの？」
と相談を受けて、別のツールの紹介をつい最近やりました！
正直、僕も設計者がちょっと分析するくらいなら、Pythonより GUI操作のツールが良いと思っています。

だから、Pythonを教えるならば、先生になれるくらい継続して使うキーマンを育てていきたいと思っています。
もう少し簡単に使いたい人には、GUI操作のツールの方が良いと思っているので、そちらの推進活動も始めようと思っています。
ITツールというのは、得意なことと不得意なことがあるので、バランス感覚が必要になってきます。

また、Pythonを教えるということは、この活動以外でも普通に行っていることなので、この活動だけ業務と言われるのも違和感しかないです。
他部門の人にプライベートでPythonを教えたりもしているくらいです。

そんな気持ちなので、
先生の先生という立場ならば残りたいと思いますが、これまで通りの先生という立場からは卒業したいと考えています。

検討お願いします。



　



【確認】
今のスキルでは足りないと感じているんですか？
来年やることって、もう何か決まってますか？
来年に向けてのスキルアップですか？
そういうスキルを上げてキャリアを築いていきたい？
【ゴール】
1〜2年の長期的なスキルアッププランか？数ヶ月程度の短期的なプランか？
具体的にどんなスキルが必要かイメージはありますか？
【現状】
PythonとVBAくらい
【選択肢】
どういうスキルを上げないといけないか？
周りの人が持っているスキルで自分も持っておきたいスキルはあるか？
スキルの上げ方は？
他には？
それで足りるか？
もっと効率的に上げる方法はないか？
【意思】
何をまずやりたいか？
いつまでに？
