コーチング
どんなことを相談したいですか？
　今後のキャリアとして、来年以降に自分がどんな業務をやりたいのかが分からなくて悩んでいます。
自分がやりたい業務を見つけたいということですね？
今はデータ活用業務をやっていると思いますが、過去にはどんな業務をやっていたんですか？（今の業務のことは知っているので、過去のことだけ聞きました）
　ずっと市品の業務です。データ活用と実機検討がメインです。
これまでやった業務の中で、どんな業務が楽しかったんですか？
　今やっている市場データ活用業務が楽しいです。
　設計者と一緒にデータをどのように活用するか考えながら進めていく点が良いです。
　新しいことをやっている感じがすることも良いと感じています。
他には何かありますか？
　PXXXXの現流フォロー業務が楽しかったです。
どんなところが楽かったんですか？
　設計担当者と一緒にデータを見たり実機検討したり、色々考えながら試行錯誤して検討をしたことがよかったです。
どのくらいの期間かけて取り組んでたんですか？
　１年くらいです。
他には？
　大きくはこの２つが楽しかったと思います。
なるほど、この２つの共通点として、相手と一緒にゴールに向かってじっくり進めるといった、仕事の進め方が好きなのでしょうか？
　そうだと思います。
今後もそういうことをやっていきたいのか？
　そうだと思いますが、具体的なイメージができていません。
　自分の強みがイマイチ分からないんです。
なるほど、それでは、どんな業務が得意ですか？データ分析？実機検討？
　データ分析です。
何か他には強みになりそうなことって思いつきませんか？
　品保なので幅広くLBP全体に関して携わったことがあることかもしれません。
なるほど、特定のユニットの知識だけではなく、広い知識があるということは、データ分析と相性が良さそうですね！
今後もデータ分析を使った業務をやっていきたいですか？
　そうだと思います。
では、データ分析を今の部門で続けていきたいですか？
　今の部門でデータ分析のスキルを上げていくには限界があると思うので、別の部門で色々学ぶ必要があるかもしれません。
どんな部門が候補としてありますか？
　開推、技開、商品企画などがあると思います。
他には知らないですか？
　CRG開とかもありそうですが、知らないです。
本体開発とCRG開発ならば、どちらが興味ありますか？
　これまで本体開発しか携わったことがないので、本体開発がいいと思います。
もしも異動できるとしたら、どの部門がいいか希望はありますか？
　それぞれの部門がどういうことをやっているか分からないので、選べないですね。
では、データ分析をする事を目的にしたいのか、手段として活用したいのは、どちらですか？
　手段として活用することをしていきたいです。
では、技開か商品企画でしょうか？開推は分析することに特化していそうですよね。
　そうかもしれませんが、商品企画もどんな業務がほとんど分からないです。
商品企画でデータ分析している人で、知っている人はいますか？
　〇〇さんです。
〇〇さんに、話を聞いてみたりするとどうですか？
　それはありかもしれません。
少し話はもとに戻りますが、本当にやりたいことって、データ分析なのかって分かりますか？（話の方向性が合っていたか確認するため、再確認した）
　データ分析をすることが好きなんだと思います。
　ただ、本当にやりたいことは、コンサルのようなものかもしれません。
自分自身が提案するよりは、誰かの業務をサポートしたりアドバイスしていきたいということですね？
　そうだと思います。
データ分析を活用したコンサルということでしょうか？
　はい、そうです。
それならば、今やっている業務の延長に、自分のやりたい業務がありそうだということですか？
　そうだと思います。
それでは、今やっている業務を、よりコンサルに近い形に進化させていくには、何が必要だと思いますか？
　データ分析力が自分には足りないと思います。
コンサルをするには、分析力だけではなく、コンサル力も必要だと思いますが、そちらはどうですか？
　確かに、コンサル力の方が重要だと思うので、来年はコンサル力を高められるような業務をしたい気がしてきました。
コンサル力の高い部門と連携したりするイメージでしょうか？そういう部門や人って知ってますか？（私の考えを提案してしまった）
　周辺にはそいうことをやっている部門はなさそうな気がします。
　今、私達がやっている業務の延長が一番近い気がします。
　なのでコンサル力を高めるために、自分達で巻き込む部門を決めて、進めていく必要があるのかもしれませんね。
そういうことを相談してみる人はいますか？
　△△さんに聞いたら、知っていることがあるかもしれませんし、アドバイスをもらえそうなので、相談してみます。
　早速、来週相談してみます。
よかったです。
データを活用したコンサル業務がやりたいことであり、来年は、コンサル力を高めるためられるような仕事がしたいということであってますか？
　はい。
それでは、それに向けて、まずは△△さんに相談してみるということを実施してみてください。
　はい、ありがとうございます。
こちらこそ、ありがとうございました。


■うまくいったこと
GROWモデルのプロセスで、なんとか最後まで実施することができた。
今後のキャリアに関する少し難しい内容のテーマだったが、コンサルがやりたいという、ことをクライアントに発見させることができた。
さらに、強化すべきポイントも、データ分析力ではなく、コンサル力だと気づかせることができた。

■うまくいかなかったこと
全体的に、もう少し私が話したり考えたりする時間が多かったので、クライアントに話をしてもらえるようにしたかった。
なぜキャリアのことを悩んでいるのか、最初にもっと聞いた方が良かったかもしれない。
最後、時間がなくなり、コンサル力を高める為の施策の案として、部門を巻き込むという選択肢しか考えられなかった。
もっと沢山の選択肢から目標を設定した方が良かったと思う。

■所感
相手の相談内容をしっかり理解しつつ、GROWモデルを使った質問をしていくことは、集中力がとても必要だと改めて感じた。
30分あったので、前半に現状把握のためにゆっくり聞き取りできてたことは良かったが、後半に時間がなくなったことで、選択肢を十分に検討することなく終わってしまった。
相手の考えをもっと引き出したかったが、私自身が色々考えて、提案してしまった部分もあったため、次回はもっとクライアントに考えてもらえるように質問方法を工夫したいです。
